body {
  font-family: "Lobster", cursive;
  text-align: center;
}

h1 {
  color: Magenta;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #ffc0cb; /* Pink */
  border-radius: 12px;
  color: Black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#list {
  margin-top: 20px;
  font-size: 18px;
}
.customiser-section {
  margin-bottom: 20px;
}

.weekly-shopping-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.day-list {
  text-align: left;
}
